.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  color: darkblue;
background: lightblue;
font-family: 'Varela Round', sans-serif;
font-size: 20px;
}
.table-wrapper {
  background: white;
  padding: 20px 25px;
  margin: 30px 0;
border-radius: 9px;
  box-shadow: 0 1px 1px black(195, 38, 38, 0.05);
}
.table-title {        
padding-bottom: 15px;
background: darkblue;
color: white;
padding: 16px 30px;
margin: -20px -25px 10px;
border-radius: 3px 3px 0 0;
}
.table-title h2 {
margin: 5px 0 0;
font-size: 24px;
}
.table-title .btn-group {
float: right;
}
.table-title .btn {
color: white;
float: right;
font-size: 13px;
border: none;
min-width: 50px;
border-radius: 2px;
border: none;
outline: none !important;
margin-left: 10px;
}
.table-title .btn i {
float: left;
font-size: 21px;
margin-right: 5px;
}
.table-title .btn span {
float: left;
margin-top: 2px;
}
table.table tr th, table.table tr td {
  border-color: white;
padding: 12px 15px;
vertical-align: middle;
}
table.table tr th:first-child {
width: 60px;
}
table.table tr th:last-child {
width: 100px;
}
table.table-striped tbody tr:nth-of-type(odd) {
background-color: white;
}
table.table-striped.table-hover tbody tr:hover {
background: white;
}
table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}	
table.table td:last-child i {
opacity: 0.9;
font-size: 22px;
  margin: 0 5px;
}
table.table td a {
font-weight: bold;
color: lightseagreen;
display: inline-block;
text-decoration: none;
outline: none !important;
}
table.table td a:hover {
color: lightblue;
}
table.table td a.edit {
  color: yellow;
}
table.table td a.delete {
  color: salmon;
}
table.table td i {
  font-size: 19px;
}
table.table .avatar {
border-radius: 50%;
vertical-align: middle;
margin-right: 10px;
}
.pagination {
  float: right;
  margin: 0 0 5px;
}
.pagination li a {
  border: none;
  font-size: 13px;
  min-width: 30px;
  min-height: 30px;
  color: silver;
  margin: 0 2px;
  line-height: 30px;
  border-radius: 2px !important;
  text-align: center;
  padding: 0 6px;
}
.pagination li a:hover {
  color: gray;
}	
.pagination li.active a, .pagination li.active a.page-link {
  background: lightseagreen;
}
.pagination li.active a:hover {        
  background: lightblue;
}
.pagination li.disabled i {
  color: whitesmoke;
}
.pagination li i {
  font-size: 16px;
  padding-top: 6px
}
.hint-text {
  float: left;
  margin-top: 10px;
  font-size: 13px;
}    
/* Custom checkbox */
.custom-checkbox {
position: relative;
}
.custom-checkbox input[type="checkbox"] {    
opacity: 0;
position: absolute;
margin: 5px 0 0 3px;
z-index: 9;
}
.custom-checkbox label:before{
width: 18px;
height: 18px;
}
.custom-checkbox label:before {
content: '';
margin-right: 10px;
display: inline-block;
vertical-align: text-top;
background: white;
border: 1px solid silver;
border-radius: 2px;
box-sizing: border-box;
z-index: 2;
}
.custom-checkbox input[type="checkbox"]:checked + label:after {
content: '';
position: absolute;
left: 6px;
top: 3px;
width: 6px;
height: 11px;
border: solid black;
border-width: 0 3px 3px 0;
transform: inherit;
z-index: 3;
transform: rotateZ(45deg);
}
.custom-checkbox input[type="checkbox"]:checked + label:before {
border-color: blue;
background: blue;
}
.custom-checkbox input[type="checkbox"]:checked + label:after {
border-color: white;
}
.custom-checkbox input[type="checkbox"]:disabled + label:before {
color: silver;
cursor: auto;
box-shadow: none;
background: silver;
}
/* Modal styles */
.modal .modal-dialog {
max-width: 400px;
}
.modal .modal-header, .modal .modal-body, .modal .modal-footer {
padding: 20px 30px;
}
.modal .modal-content {
border-radius: 3px;
}
.modal .modal-footer {
background: white;
border-radius: 0 0 3px 3px;
}
.modal .modal-title {
  display: inline-block;
}
.modal .form-control {
border-radius: 2px;
box-shadow: none;
border-color: silver;
}
.modal textarea.form-control {
resize: vertical;
}
.modal .btn {
border-radius: 2px;
min-width: 100px;
}	
.modal form label {
font-weight: normal;
}
