.table {
  border-bottom: 1px solid black;
  border-top: none;
}
.tableBox {
  width: 1000px;
}
.table tr button { 
  /* display: none; */
  opacity:0;
  float:right 
}
.table tr:hover button { 
  opacity:1 
  /* display: inline; */
}