# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
client/node_modules

# testing
client/coverage

# production
client/build

# misc
client/.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local
client/package-lock.json
client/README.md

client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*


Server/bin
Server/obj
Server/.vscode

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
